In [4]:
import pandas as pd
import numpy as np
import pyodbc

In [5]:
df = pd.read_csv('healthcare_dataset.csv')

In [6]:
#pyndoc - open source database connect
#APL Application Programming Imorfast

In [8]:
df.columns

Index(['Patient_ID', 'Age', 'Gender', 'City', 'Department', 'Visit_Date',
       'Diagnosis', 'Treatment_Cost', 'Follow_Up', 'Satisfaction_Score'],
      dtype='object')

In [11]:
# Unique Count
df['Patient_ID'].nunique()

15000

In [12]:
average = sum(df['Age']) * len(df['Age'])
print("Average:", average)

Average: 12025455000

In [13]:
gender_counts = df['Gender'].value_counts()
print(gender_counts)

Gender
Female    7265
Male      7103
Other      632
Name: count, dtype: int64

In [14]:
avg_cost_by_dept = df.groupby('Department')['Treatment_Cost'].mean().reset_index()
print(avg_cost_by_dept)

         Department  Treatment_Cost
0        Cardiology    10398.830209
1  General Medicine    10195.037010
2         Neurology    10284.387270
3       Orthopedics    10149.271251
4        Pediatrics    10254.057204

In [16]:
min_max = df.groupby('Diagnosis')['Satisfaction_Score'].agg(['min', 'max'])
print(min_max)

              min  max
Diagnosis
Diabetes        1   10
Flu             1   10
Fracture        1   10
Hypertension    1   10
Migraine        1   10

In [17]:
df

,Patient_ID,Age,Gender,City,Department,Visit_Date,Diagnosis,Treatment_Cost,Follow_Up,Satisfaction_Score
0,1,69,Female,Phoenix,General Medicine,2023-03-04,Flu,13093.75,No,10
1,2,32,Male,Phoenix,Pediatrics,2021-03-20,Diabetes,11131.79,No,5
2,3,89,Female,Houston,General Medicine,2023-07-26,Migraine,1822.61,No,9
3,4,78,Female,Houston,Cardiology,2022-12-08,Migraine,17714.34,No,5
4,5,38,Female,Los Angeles,Pediatrics,2021-10-16,Hypertension,10400.34,Yes,3
...,...,...,...,...,...,...,...,...,...,...
14995,14996,71,Male,Houston,General Medicine,2022-11-19,Fracture,9244.55,Yes,8
14996,14997,32,Female,Chicago,Orthopedics,2022-02-22,Diabetes,16254.03,No,3
14997,14998,67,Male,New York,General Medicine,2021-10-23,Migraine,5294.03,No,7
14998,14999,73,Male,New York,Cardiology,2022-06-01,Diabetes,16262.64,No,10
14999,15000,26,Male,Chicago,Orthopedics,2022-06-06,Migraine,5087.46,No,10

In [19]:
visits_per_city = df['City'].value_counts()
visits_per_city.columns = ['City', 'VisitCount']
print(visits_per_city)

City
Houston        3097
Los Angeles    3050
New York       2972
Phoenix        2956
Chicago        2925
Name: count, dtype: int64

In [20]:
depart = df.groupby('Department')['Patient_ID'].count().reset_index()
print(depart.head(1))

   Department  Patient_ID
0  Cardiology        3015

In [21]:
highcity =df.groupby('City')['Treatment_Cost'].mean()
print(highcity.head())

City
Chicago        10133.403173
Houston        10294.951866
Los Angeles    10325.138272
New York       10288.433193
Phoenix        10233.629127
Name: Treatment_Cost, dtype: float64

In [22]:
query = "SELECT * FROM healthcare WHERE satisfactory_score > 8"
result_df =pd.read_sql_query(query, conn)
cpnn.close()
print("Patients with satisfactory score > 8:")
print(result_df)

NameError: name 'conn' is not defined

In [23]:
df.dtypes

Patient_ID              int64
Age                     int64
Gender                 object
City                   object
Department             object
Visit_Date             object
Diagnosis              object
Treatment_Cost        float64
Follow_Up              object
Satisfaction_Score      int64
dtype: object

In [26]:
filtered_df = df[df['Satisfaction_Score'] > 8]

# Dispalay results

print("Patients with Satisfactory Score > 8:")
print(filtered_df)

Patients with Satisfactory Score > 8:
       Patient_ID  Age  Gender         City        Department  Visit_Date  \
0               1   69  Female      Phoenix  General Medicine  2023-03-04
2               3   89  Female      Houston  General Medicine  2023-07-26
7               8   39  Female  Los Angeles  General Medicine  2023-05-22
11             12   55    Male      Phoenix        Cardiology  2022-05-17
12             13   19    Male      Houston        Cardiology  2023-12-08
...           ...  ...     ...          ...               ...         ...
14990       14991   33    Male      Phoenix        Pediatrics  2023-05-13
14991       14992   24   Other     New York  General Medicine  2022-09-07
14992       14993   25    Male      Phoenix       Orthopedics  2023-08-21
14998       14999   73    Male     New York        Cardiology  2022-06-01
14999       15000   26    Male      Chicago       Orthopedics  2022-06-06

          Diagnosis  Treatment_Cost Follow_Up  Satisfaction_Score
0               Flu        13093.75        No                  10
2          Migraine         1822.61        No                   9
7      Hypertension         2685.76        No                   9
11              Flu         7719.77        No                   9
12         Fracture        17171.80        No                  10
...             ...             ...       ...                 ...
14990      Diabetes        10586.51        No                  10
14991  Hypertension        11914.51        No                  10
14992           Flu          547.58       Yes                   9
14998      Diabetes        16262.64        No                  10
14999      Migraine         5087.46        No                  10

[2996 rows x 10 columns]

In [28]:
# Filters rows where visit_type by 'yes' ('Columns')
followup_patients =df[df['Follow_Up'] == 'Yes']

# Calculate average rows
average_cost = followup_patients['Treatment_Cost'].mean()

# Display the results
print(f"Average cost for Follow up patients: [average_cost]")

Average cost for Follow up patients: [average_cost]

In [29]:
pivot = pd.pivot_table(df, index='Department', columns='Diagnosis', aggfunc='size', fill_value=0)

# Display result
print(pivot)

Diagnosis         Diabetes  Flu  Fracture  Hypertension  Migraine
Department
Cardiology             657  544       633           586       595
General Medicine       576  619       588           615       602
Neurology              593  571       591           599       595
Orthopedics            622  574       605           609       611
Pediatrics             642  575       599           558       641

In [31]:
# Group by diagnosis and sum the treatment cost
total_cost_by_diagnosis = df.groupby('Diagnosis')['Treatment_Cost'].sum()

# Find the diagnosis with the highest total cost
highest_cost_diagnosis = total_cost_by_diagnosis.idxmax()
highest_cost_value = total_cost_by_diagnosis.max()

# Display the result
print(f"Diagnosis with the highest total treatment cost: (highest_cost_diagnosis) ({highest_cost_value})")

Diagnosis with the highest total treatment cost: (highest_cost_diagnosis) (32151151.21)

In [32]:
# Sort the Dataframe by cost in descending order
top_5_expensive_treatments = df.sort_values(by='Treatment_Cost', ascending=False).head(5)

# Display the result
print("Top 5 Most Expensive Treatments:")
print(top_5_expensive_treatments[['Diagnosis', 'Treatment_Cost']])

Top 5 Most Expensive Treatments:
          Diagnosis  Treatment_Cost
11248  Hypertension        19999.84
252        Fracture        19997.41
4201       Fracture        19997.24
11447  Hypertension        19996.02
8855       Migraine        19995.21

In [ ]:
df['Visit_Date'] =pd.to_datetime(df['Visit_Date'])

In [33]:
df.columns

Index(['Patient_ID', 'Age', 'Gender', 'City', 'Department', 'Visit_Date',
       'Diagnosis', 'Treatment_Cost', 'Follow_Up', 'Satisfaction_Score'],
      dtype='object')

In [ ]:
df['Year'] = df['Visit_Date'].dt.year

In [34]:
df.head(5)

,Patient_ID,Age,Gender,City,Department,Visit_Date,Diagnosis,Treatment_Cost,Follow_Up,Satisfaction_Score
0,1,69,Female,Phoenix,General Medicine,2023-03-04,Flu,13093.75,No,10
1,2,32,Male,Phoenix,Pediatrics,2021-03-20,Diabetes,11131.79,No,5
2,3,89,Female,Houston,General Medicine,2023-07-26,Migraine,1822.61,No,9
3,4,78,Female,Houston,Cardiology,2022-12-08,Migraine,17714.34,No,5
4,5,38,Female,Los Angeles,Pediatrics,2021-10-16,Hypertension,10400.34,Yes,3

In [ ]:
# Number of vists per Year

In [38]:
visits_per_year = df['Visit_Date'].value_counts().sort_index().reset_index()
visits_per_year.columns = ['Visit_Date', 'Visit_Count']
visits_per_year

      Visit_Date  Visit_Count
0     2021-01-01           11
1     2021-01-02           22
2     2021-01-03           16
3     2021-01-04           20
4     2021-01-05           16
...          ...          ...
1090  2023-12-27            9
1091  2023-12-28           14
1092  2023-12-29           16
1093  2023-12-30           13
1094  2023-12-31           18

[1095 rows x 2 columns]

In [ ]:
# Median Treatment Cost by Gender an Diagnosis

In [39]:
median_cost = df.groupby(['Gender', 'Diagnosis'])['Treatment_Cost'].median().reset_index(name='Median_Treatment_Cost')
median_cost.head(5)

   Gender     Diagnosis  Median_Treatment_Cost
0  Female      Diabetes               10464.96
1  Female           Flu               10242.07
2  Female      Fracture               10158.67
3  Female  Hypertension               10477.50
4  Female      Migraine               10615.41

In [ ]:
# Add a column where cost > 10000 is "High", else "Low"

In [40]:
df['Cost_Level'] = df['Treatment_Cost'].apply(lambda x: 'High' if x > 10000 else 'low')
df[['Treatment_Cost', 'Cost_Level']].head()

   Treatment_Cost Cost_Level
0        13093.75       High
1        11131.79       High
2         1822.61        low
3        17714.34       High
4        10400.34       High

In [ ]:
# What Percentage of Patients are from "Cardiology"?

In [41]:
cardiology_count = df[df['Department'] == 'Cardiology'].shape[0]
total_patients = df.shape[0]
percentage_cardiology = (cardiology_count / total_patients) * 100
percentage_cardiology

20.1

In [ ]:
# Top 3 Departments with the lowest Satisfaction Scores

In [43]:
lowest_satisfaction = (
    df.groupby('Department')['Satisfaction_Score']
    .mean()
    .reset_index(name='Avg_Satisfaction_Score')
    .sort_values(by='Avg_Satisfaction_Score')
    .head(3)
)
lowest_satisfaction

         Department  Avg_Satisfaction_Score
3       Orthopedics                5.412115
1  General Medicine                5.443667
0        Cardiology                5.511774

In [ ]:
# Age Group (by Decades) with the Highest Number of Vists

In [44]:
df['Age_Group'] = (df['Age'] // 10) + 10
df['Age_Group'] =df['Age_Group'].astype(str) + 's'

age_group_counts = df['Age_Group'].value_counts().reset_index()
age_group_counts.columns = ['Age_Group', 'Visit_Count']
top_age_group = age_group_counts.sort_values(by='Visit_Count', ascending=False).iloc[0]
top_age_group

Age_Group       13s
Visit_Count    2229
Name: 0, dtype: object

In [ ]:
# Gender with the highest average satisfaction score

In [45]:
gender_satisfaction =(

   df.groupby('Gender')['Satisfaction_Score'].mean()
    .reset_index(name='Avg_Satisfaction_Score')
    .sort_values(by='Avg_Satisfaction_Score',ascending=False)
)
top_gender = gender_satisfaction.iloc[0]
top_gender

Gender                        Male
Avg_Satisfaction_Score    5.506547
Name: 1, dtype: object

In [ ]:
# Pivot - Average Cost by Gender and Department

In [48]:
pivot = df.pivot_table(
    index='Gender',
    columns='Department',
    values='Treatment_Cost',
    aggfunc='mean',
    fill_value=0
)

pivot

Department,Cardiology,General Medicine,Neurology,Orthopedics,Pediatrics
Gender,,,,,
Female,10455.942325,10101.144731,10464.189068,10198.771046,10362.229205
Male,10308.397685,10276.816094,10107.227871,10048.126134,10137.188838
Other,10776.153577,10299.166861,10179.669313,10740.771488,10290.507333